[submodule "libs/argparse"]
	path = libs/argparse
	url = git@github.com:p-ranav/argparse.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "libs/matplotplusplus"]
	path = libs/matplotplusplus
	url = git@github.com:alandefreitas/matplotplusplus.git
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
